<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://code.alibabatech.com/schema/dubbo  
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <bean id="testService" class="cn.com.jd.service.impl.TestServiceImpl" /> 
    
    <dubbo:application name="dubbo_consumer"></dubbo:application>
   <!-- 使用zookeeper注册中心暴露服务地址 -->  
   <dubbo:registry address="zookeeper://172.25.47.133:2181?backup=172.25.47.134:2181,172.25.47.135:2181" check="false"></dubbo:registry> 
     <!-- 要引用的服务 -->  
   <!--  <dubbo:reference interface="com.jd.testzk.inter.TestRegistryService" id="testRegistryService"></dubbo:reference> -->
     
   <dubbo:reference interface="com.wangyin.card.user.api.facade.UserBaseFacade" id="userService"></dubbo:reference>
     
</beans>